
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  

    
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%=image_tag("worksheets.jpg", width:'180', height: '180', class:'img-circle', id:'circle_first')%> 
          <h2>Teaching Resources</h2>
          <p>We provide everything from printable worksheets, lesson plans, e-books, and more..all following the Common Core guidelines.</p>
          <p><a class="btn btn-lg btn-green" href="/printables" role="button">View more</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%=image_tag("girl_tablet.jpg", width:'180', height: '180', class:'img-circle', id:'circle_middle')%> 
          <h2>Interactive Games</h2>
          <p>Everyone of our educational games can be accessed right from our web site. So you don't have have to download any additional apps on your device.  </p>
          <p><a class="btn btn-lg btn-blue" href="#" role="button">View more</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%=image_tag("kids_tablet.jpg", width:'180', height: '180', class:'img-circle', id:'circle_last')%> 
          <h2>Tools for Educators</h2>
          <p>Subscribed members recieve access to all of our online tools that make your life easier throughout the day.  </p>
          <p><a class="btn btn-lg btn-orange" href="#" role="button">View more</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>


   