<% provide(:title, 'Printable Material') %>

<h1>Printable Materials</h1>
<div class=row>
<div class='col-lg-4 center'>
	<%= image_tag('print_search.jpg', class:"icon") %>
<h2>Letter Search</h2>
</div>

</div>